data/*
results/*.csv
python/__pycache__/*
runs/*
weights/*
networks/fir_results_06282024/*
runs/*
weights/*
networks/fir_results_06282024/*.npy
network/fir_results_06282024/data.npy
network/fir_results_06282024/labels.npy
network/fir_results_06282024/data_8x8.npy
network/fir_results_06282024/labels_8x8.npy
network/fir_results_06282024/data_mlp.npy
network/fir_results_06282024/labels_mlp.npy
idt_project/data/*